@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet');
body {
    font-family: 'Abril Fatface';
    font-size: 1.2em;
    background-color: #363845;
}

.text-title {
    font-family: 'Abril Fatface';
    font-size: 5rem;
    color: beige;
}

.text-subtitle {
    font-family: 'Oxanium';
    font-size: 2.2rem;
    color: beige;
}

.t {
    color: rgb(210, 242, 248);
}

.bg-title {
    /* background-image: linear-gradient(to bottom right, #63736B, #9FD5BC); */
    background: url("../img/back.jpg");
}

.bg-footer {
    background: #0D0D0D;
}

.bg-nav {
    background-image: linear-gradient(to bottom right, #1c93a3, #05011b);
}

.mt-n6 {
    margin-top: -7rem;
}

.mt-n7 {
    margin-top: -5rem;
}

.text-span {
    z-index: 99;
    position: absolute;
}

.fonte {
    font-family: 'Lora', serif;
}

.fon {
    font-family: 'Crete Round', serif;
}

#corpo video {
    width: 750px;
    margin: 0 auto;
    display: block;
}

.back {
    background-color: #0D0D0D;
}